@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-page-handler="SaveDbInfo" method="post">
    <label for="path">
        Database path
        <input type="text" name="path" id="path">
    </label>
    <button type="submit">Save</button>
</form>
<p>Currently saved: @HttpContext.Session.GetString("path")</p>

<section>
    <h2>Search</h2>

    <form asp-page-handler="SearchFullText" method="post">
        <label for="query">
            Query
            <input type="text" name="query" id="query">
        </label>
        <button type="submit">Search</button>
    </form>

    <div>
        <h3>Results</h3>

        @if (Model.ResultSegments is not null)
        {
            <p>Found <strong>@Model.ResultSegments.Count</strong> segments:</p>

            <table>
                <thead>
                <tr>
                    <th>No</th>
                    <th>Airdate</th>
                    <th>Title</th>
                    <th>Start Time</th>
                    <th>Text</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var segment in Model.ResultSegments)
                {
                    <tr>
                        <td>@segment.Episode.Number</td>
                        <td>@segment.Episode.AirDate</td>
                        <td>@segment.Episode.Title</td>
                        <td>@segment.Start.ToString(@"mm\:ss")</td>
                        <td>@segment.Text</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>

</section>